@import "../../utils";

.work__card {
  display: flex;
  flex-direction: column;

  @include media-gte-lg {
    min-width: 45%;

    &:nth-of-type(1) {
      margin-top: 10rem;
      margin-bottom: 10rem;
    }

    &:nth-last-of-type(1) {
      position: relative;
      top: -10rem;
    }
  }
}

.work__card__picture {
  margin-bottom: rem(14px);
  border-radius: rem(24px);
  filter: grayscale(0.2) opacity(0.9);
  transition: filter 200ms ease-in;

  &:hover {
    filter: grayscale(0) opacity(1);
  }
}