@import "../../utils";

.hero {
  display: flex;
  flex-direction: column;

  @include media-gte-lg {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto auto rem(360px) auto;
    grid-template-areas:
            ". subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle"
            ". title title title title title . . . ."
            "picture picture picture picture picture picture picture picture picture picture"
            ". content content content content . . . . .";
  }

  .hero__subtitle {
    margin: 0 0 0 rem(30px);
    color: $blue;

    @include media-gte-lg {
      grid-area: subtitle;
    }
  }

  .hero__title {
    margin-left: rem(30px);

    @include media-gte-lg {
      grid-area: title;
      line-height: 6rem;
    }
  }

  .hero__picture {
    border-radius: em(18px);

    @include media-gte-lg {
      grid-area: picture;
      justify-self: stretch;
    }
  }

  .hero__content {
    margin: em(22px) 0 0 rem(30px);
    display: flex;
    flex-direction: column;
    row-gap: em(32px);

    @include media-gte-lg {
      grid-area: content;
    }
  }

  .hero__content__body {
    display: flex;
    flex-direction: column;
    row-gap: rem(32px);
  }

  @include media-gte-lg {
    .hero__content__title {
      line-height: 6rem;
    }
  }
}