@import "../../utils";

.hero {
  display: flex;
  flex-direction: column;

  .hero__subtitle {
    margin: 0 0 0 rem(30px);
    color: $blue;
  }

  .hero__title {
    margin-left: rem(30px);
  }

  .hero__picture {
    border-radius: em(18px);
  }

  .hero__content {
    margin: em(22px) 0 0 rem(30px);
    display: flex;
    flex-direction: column;
    row-gap: em(32px);
  }

  .hero__content__body {
    display: flex;
    flex-direction: column;
    row-gap: rem(32px);
  }

}