@import "../utils";

body {
  font-family: $font-default;
  font-weight: 400;
  font-size: em(16px);
  line-height: em(24px);

  @include media-gte-lg {
    font-size: em(18px);
    line-height: em(27px);
  }
}

.menu {
  font-weight: 500;
  font-size: em(24px);
  line-height: em(36px);

  .menu__brand {
    font-family: $font-primary;
    font-weight: 800;
    font-size: em(24px);
    line-height: em(35px);

    @include media-gte-lg {
      font-size: em(36px);
      line-height: em(53px);
    }
  }
}

.hero {
  .hero__subtitle {
    font-weight: 500;
    font-size: em(12px);
    line-height: em(18px);

    @include media-gte-lg {
      font-size: em(18px);
      line-height: em(27px);
    }
  }

  .hero__title,
  .hero__content__title {
    font-weight: 500;
    font-size: em(24);
    line-height: em(36px);

    @include media-gte-lg {
      font-size: em(48px);
      line-height: em(72px);
    }
  }

  .hero__content__body {
    font-size: em(12px);
    line-height: em(18px);

    @include media-gte-lg {
      font-size: em(18px);
      line-height: em(27px);
    }
  }

  .hero__contact {
    font-weight: 500;
    font-size: em(14px);
    line-height: em(21px);

    @include media-gte-lg {
      font-size: em(18px);
      line-height: em(27px);
    }

    p {
      font-size: em(10px);
      line-height: em(15px);

      @include media-gte-lg {
        font-size: em(14px);
        line-height: em(21px);
      }
    }

    input,
    button {
      font-weight: 500;
      font-size: rem(14px);
      line-height: rem(21px);

      @include media-gte-lg {
        font-size: rem(18px);
        line-height: rem(27px);
      }
    }
  }
}

section {
  .section__title {
    font-weight: 500;
    font-size: em(24px);
    line-height: em(36px);

    @include media-gte-lg {
      font-size: em(36px);
      line-height: em(54px);
    }
  }

  .service__card {
    .service__card__icon {
      font-size: em(27px);
    }

    .service__card__title {
      font-weight: bold;
      font-size: em(24px);
      line-height: em(36px);
    }

    // .service__card__description inherit body's styles
  }

  .work__card {
    // applied to "see more" link
    font-weight: 500;
    font-size: em(18px);
    line-height: em(27px);

    @include media-gte-lg {
      font-size: em(24px);
      line-height: em(36px);
    }

    .work__card__category {
      font-weight: 300;
      font-size: em(12px);
      line-height: em(18px);

      @include media-gte-lg {
        font-size: em(14px);
        line-height: em(21px);
      }
    }

    .work__card__title {
      font-size: em(18px);
      line-height: em(27px);
    }
  }

  .clients__team {
    font-weight: 500;

    .clients__subtitle {
      font-size: em(18px);
      line-height: em(27px);
    }

    .section__title {
      font-size: em(36px);
      line-height: em(54px);
    }

    // .client__description inherit body's styles
  }

  .clients__testimonial {
    // Quote, name
    font-weight: 500;
    font-size: em(24px);
    line-height: em(36px);

    .client__quote {
      @include media-gte-lg {
        font-size: em(36px);
        line-height: em(54px);
      }
    }

    .client__title {
      font-size: em(18px);
      line-height: em(27px);
    }
  }
}

footer {
  font-weight: 500;
  font-size: em(14px);
  line-height: em(17px);

  .footer__links {
    font-weight: 400;
    font-size: em(18px);
    line-height: 200%;
  }

  .network__website {
    font-family: $font-primary;
    font-weight: 800;
    font-size: em(36px);
    line-height: em(53px);
  }

  .footer__contact {
    font-family: $font-accent;

    p {
      font-weight: 500;
      font-size: em(10px);
      line-height: em(15px);

      @include media-gte-lg {
        font-size: em(14px);
        line-height: em(21px);
      }
    }

    input,
    button {
      font-size: em(14px);
      line-height: em(21px);

      @include media-gte-lg {
        font-size: em(18px);
        line-height: em(27px);
      }
    }
  }

  .copyright {
    font-family: $font-accent;
    font-weight: 500;
    font-size: em(14px);
    line-height: em(17px);
    text-align: center;

    a:first-child {
      font-weight: 700;
      text-decoration: underline;
    }

    a {
      font-weight: 600;
    }
  }
}