@import "../utils";

.alert {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity, visibility 1000ms ease;

  &__container {
    position: relative;
    width: 90vw;
    margin-bottom: rem(12px);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $white;
    border-radius: rem(12px);
    border: solid rem(1px) $gray6;
    box-shadow: rem(-4px) rem(6px) rem(8px) rem(0) rgba(0, 0, 0, .3);
  }
  
  &__close {
    position: absolute;
    right: rem(8px);
    top: rem(8px);
  }
  
  &__message {
    margin: rem(8px);
    display: flex;
    align-items: center;
  }
}

.alert.opened {
  visibility: visible;
  opacity: 1;
}