@import "../utils";

.hero__contact,
.footer__contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: rem(8px);

  p {
    flex-shrink: 0;
    width: 100%;
  }

  .form-group {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    background-color: $gray6;
    border-radius: rem(12px);
    padding: rem(4px) rem(4px) rem(4px) rem(20px);

    // TODO: remove outline on focus and simulate the effect on .form-group
    #email,
    #email2 {
      flex: 1 1 auto;
      background-color: transparent;
      border: none;
    }

    // TODO: disable submit on click
    button {
      flex: 1 0 rem(72px);
      max-width: rem(72px);
      height: rem(40px);
      color: $white;
      background-color: $blue;
      border: none;
      border-radius: rem(12px);
    }
  }
}