@import "../utils";

.hero__contact,
.footer__contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: rem(8px);

  p {
    flex-shrink: 0;
    width: 100%;
  }

  .form-group {
    width: 100%;
    max-height: rem(58px);
    display: flex;
    flex-wrap: nowrap;
    background-color: $gray6;
    border-radius: rem(12px);
    padding: rem(4px) rem(4px) rem(4px) rem(20px);

    #email,
    #email2 {
      flex: 1 1 auto;
      background-color: transparent;
      border: none;

      &:focus {
        outline: none;
      }
    }

    button {
      flex: 1 0 rem(72px);
      max-width: rem(72px);
      height: rem(40px);
      color: $white;
      background-color: $blue;
      border: none;
      border-radius: rem(12px);
      transition: background-color 300ms ease;

      &:hover {
        background-color: darken($blue, 10%);
      }
    }
  }
}