@import "../utils";

.overlay {
  display: none;
  z-index: 101;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .6);

  .overlay__container {
    position: relative;
    width: 95vw;
    min-height: 20vh;
    margin-inline: auto;
    padding: rem(12px) rem(24px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: rem(16px);
    background-color: $white;
    border-radius: rem(12px);
  }

  .overlay__close {
    position: absolute;
    top: rem(8px);
    right: rem(8px);
    color: $gray3;
    transition: color 300ms ease;

    &:hover {
      color: $blue;
    }
  }
}

.overlay.opened {
  display: flex;
}